nav {
    width: 20%;
    border-right: solid black 1px;
    padding-top: 3%;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

.folder {
    width: 100%;
    padding: 4%;
    border: black solid 1px;
}